html, body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
	font-family: Arial;
}

h1 {
  display: flex;
}

div {
  animation-name: verkleurAni;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
	animation-fill-mode: backwards;
  text-shadow:
    -.02em .02em 0 var(--mijnSchaduwKleur),
    -.03em .03em 0 var(--mijnSchaduwKleur),
    -.04em .04em 0 var(--mijnSchaduwKleur),
    -.05em .05em 0 var(--mijnSchaduwKleur),
    -.06em .06em 0 var(--mijnSchaduwKleur),
    -.07em .07em 0 var(--mijnSchaduwKleur);
}

div:nth-of-type(1) {
  --mijnkleur: olivedrab;
  --veranderKleur1: purple;
  --veranderKleur2: olive;
  --veranderKleur3: violet;
  --mijnSchaduwKleur: brown;
  --mijnSchaduwKleur2: gray;
  --mijnSchaduwKleur3: orange;
  --mijnSchaduwKleur4: beige;
  z-index: 90;
}

div:nth-of-type(2) {
  --mijnkleur: green;
  --veranderKleur1: red;
  --veranderKleur2: yellow;
  --veranderKleur3: orange;
  --mijnSchaduwKleur: rebeccapurple;
  --mijnSchaduwKleur2: violet;
  --mijnSchaduwKleur3: blue;
  --mijnSchaduwKleur4: purple;
  z-index: 80;
}

div:nth-of-type(3) {
  --mijnkleur: red;
  --veranderKleur1: blue;
  --veranderKleur2: green;
  --veranderKleur3: brown;
  --mijnSchaduwKleur: yellow;
  --mijnSchaduwKleur2: orange;
  --mijnSchaduwKleur3: brown;
  --mijnSchaduwKleur4: pink;
  z-index: 60;
}

div:nth-of-type(4) {
  --mijnkleur: blue;
  --veranderKleur1: orange;
  --veranderKleur2: green;
  --veranderKleur3: yellow;
  --mijnSchaduwKleur: green;
  --mijnSchaduwKleur2: blue;
  --mijnSchaduwKleur3: yellow;
  --mijnSchaduwKleur4: purple;
  z-index: 60;
}

@keyframes verkleurAni {
  0% {
    color: inherit;
  }

  10%, 20% {
    color: var(--mijnkleur);
  }

  20%, 30% {
    color: var(--veranderKleur1);
    text-shadow:
      -.02em .02em 0 var(--mijnSchaduwKleur4),
      -.03em .03em 0 var(--mijnSchaduwKleur4),
      -.04em .04em 0 var(--mijnSchaduwKleur4),
      -.05em .05em 0 var(--mijnSchaduwKleur4),
      -.06em .06em 0 var(--mijnSchaduwKleur4),
      -.07em .07em 0 var(--mijnSchaduwKleur4);
  }

  40%, 50% {
    color: var(--veranderKleur2);
  }

  50%, 70% {
    text-shadow:
      -.02em .02em 0 var(--mijnSchaduwKleur2),
      -.03em .03em 0 var(--mijnSchaduwKleur2),
      -.04em .04em 0 var(--mijnSchaduwKleur2),
      -.05em .05em 0 var(--mijnSchaduwKleur2),
      -.06em .06em 0 var(--mijnSchaduwKleur2),
      -.07em .07em 0 var(--mijnSchaduwKleur2);
  }

  70%, 80% {
    color: var(--veranderKleur3);
  }

  80%, 90% {
    color: var(--veranderKleur1);
    text-shadow:
      -.02em .02em 0 var(--mijnSchaduwKleur3),
      -.03em .03em 0 var(--mijnSchaduwKleur3),
      -.04em .04em 0 var(--mijnSchaduwKleur3),
      -.05em .05em 0 var(--mijnSchaduwKleur3),
      -.06em .06em 0 var(--mijnSchaduwKleur3),
      -.07em .07em 0 var(--mijnSchaduwKleur3);
  }

  100% {
    color: inherit;
  }
}
